# Assignment 1

1. The assignment is done and submitted as groups.
2. One representative will upload the submission on Dropbox.
3. Make sure you installed all packages that are imported in the file before you run the codes.
4. Cheating is not allowed!

In this data project, we will focus on exploratory data analysis of obesity levels.

Let's first load all libraries or packages needed:

In [1]:
import pandas as pd
import numpy as np
import datetime
%matplotlib inline

## Read the Data

>__Task 1__
>
>- Import the data file "obesity_level.csv"
>- Check metadata using `info()`

In [4]:
obs_df = pd.read_csv('obesity_level.csv')
obs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2120 entries, 0 to 2119
Data columns (total 20 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   year                            2120 non-null   int64
 1   month                           2120 non-null   int64
 2   day                             2120 non-null   int64
 3   gender                          2111 non-null   object
 4   age                             2120 non-null   float64
 5   height                          2111 non-null   float64
 6   weight                          2111 non-null   float64
 7   family_history_with_overweight  2111 non-null   object
 8   FAVC                            2111 non-null   object
 9   FCVC                            2111 non-null   float64
 10  NCP                             2111 non-null   float64
 11  CAEC                            2111 non-null   object
 12  SMOKE                           2111 non-null   object
 13  CH2O                            2111 non-null   float64
 14  SCC                             2111 non-null   object
 15  FAF                             2111 non-null   float64
 16  TUE                             2111 non-null   float64
 17  CALC                            2111 non-null   object
 18  MTRANS                          2111 non-null   object
 19  NObeyesdad                      2111 non-null   object
dtypes: float64(8), int64(3), object(9)
memory usage: 331.4+ KB

>__Task 2__
>
>Check the top 10 rows of the obesity data frame

In [5]:
obs_df.head(10)

,year,month,day,gender,age,height,weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,2015,9,22,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,2015,10,19,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,2015,1,19,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,2015,11,17,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,2015,2,24,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II
5,2015,5,4,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,2016,2,22,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight
7,2016,8,14,Male,22.0,1.64,53.0,no,no,2.0,3.0,Sometimes,no,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
8,2015,4,13,Male,24.0,1.78,64.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight
9,2016,5,20,Male,22.0,1.72,68.0,yes,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight

Do you know which columns contain date information? The first three columns (i.e., __year__, __month__, __day__) are integers, shown as `int64` from the metadata above.

>__Task 3__
>
>- Combine and convert these three columns to `date` column, which contains `datetime` type
>- Confirm the result by printing its data type

In [ ]:
# Print data type
print(obs_df['date'].dtype)

It looks the date is not read as date

In [7]:
obs_df['date'] = pd.to_datetime(obs_df[['year', 'month', 'day']])

# Call the column to see results
obs_df['date']

0      2015-09-22
1      2015-10-19
2      2015-01-19
3      2015-11-17
4      2015-02-24
          ...
2115   2015-06-26
2116   2015-07-22
2117   2016-05-04
2118   2015-12-02
2119   2015-01-25
Name: date, Length: 2120, dtype: datetime64[ns]

In [8]:
# Print data type
print(obs_df['date'].dtype)

datetime64[ns]

Now, let's look at the last column __NObeyesdad__, which has the obesity levels.

>__Task 4__
>
> Find the unique entries in __NObeyesdad__ column.

In [9]:
NObeyesdad_Unq = obs_df['NObeyesdad'].unique()
print(NObeyesdad_Unq)

['Normal_Weight' 'Overweight_Level_I' 'Overweight_Level_II'
 'Obesity_Type_I' 'Insufficient_Weight' 'Obesity_Type_II'
 'Obesity_Type_III' nan]

## Data Cleansing

>__Task 5__
>
>- Print the min and max date in the dataset

In [12]:
print(obs_df['date'].max())
print(obs_df['date'].min())

2016-12-27 00:00:00
2015-01-01 00:00:00

Now, we want to find out if there's any missing values in the data.

>__Task 6__
>
>- Find the number of missing values in each column
>- Retrieve rows with missing values

In [13]:
# Find the number of missing values in columns
obs_df.isna().sum()

year                              0
month                             0
day                               0
gender                            9
age                               0
height                            9
weight                            9
family_history_with_overweight    9
FAVC                              9
FCVC                              9
NCP                               9
CAEC                              9
SMOKE                             9
CH2O                              9
SCC                               9
FAF                               9
TUE                               9
CALC                              9
MTRANS                            9
NObeyesdad                        9
date                              0
dtype: int64

In [18]:
# Retrieve missing values in rows
missing_rows = obs_df[obs_df.isnull().any(axis=1)]
print(missing_rows)

      year  month  day gender   age  height  weight  \
2111  2016      4   24    NaN  22.0     NaN     NaN
2112  2016     10   12    NaN  67.0     NaN     NaN
2113  2015      4   20    NaN  80.0     NaN     NaN
2114  2016      5   21    NaN  19.0     NaN     NaN
2115  2015      6   26    NaN  33.0     NaN     NaN
2116  2015      7   22    NaN  56.0     NaN     NaN
2117  2016      5    4    NaN  32.0     NaN     NaN
2118  2015     12    2    NaN  94.0     NaN     NaN
2119  2015      1   25    NaN  71.0     NaN     NaN

     family_history_with_overweight FAVC  FCVC  ...  CAEC SMOKE CH2O  SCC FAF  \
2111                            NaN  NaN   NaN  ...   NaN   NaN  NaN  NaN NaN
2112                            NaN  NaN   NaN  ...   NaN   NaN  NaN  NaN NaN
2113                            NaN  NaN   NaN  ...   NaN   NaN  NaN  NaN NaN
2114                            NaN  NaN   NaN  ...   NaN   NaN  NaN  NaN NaN
2115                            NaN  NaN   NaN  ...   NaN   NaN  NaN  NaN NaN
2116                            NaN  NaN   NaN  ...   NaN   NaN  NaN  NaN NaN
2117                            NaN  NaN   NaN  ...   NaN   NaN  NaN  NaN NaN
2118                            NaN  NaN   NaN  ...   NaN   NaN  NaN  NaN NaN
2119                            NaN  NaN   NaN  ...   NaN   NaN  NaN  NaN NaN

      TUE  CALC MTRANS NObeyesdad       date
2111  NaN   NaN    NaN        NaN 2016-04-24
2112  NaN   NaN    NaN        NaN 2016-10-12
2113  NaN   NaN    NaN        NaN 2015-04-20
2114  NaN   NaN    NaN        NaN 2016-05-21
2115  NaN   NaN    NaN        NaN 2015-06-26
2116  NaN   NaN    NaN        NaN 2015-07-22
2117  NaN   NaN    NaN        NaN 2016-05-04
2118  NaN   NaN    NaN        NaN 2015-12-02
2119  NaN   NaN    NaN        NaN 2015-01-25

[9 rows x 21 columns]

Looks like some records only contain age data on file and have missing values in all the other essential columns.

> __Task 7__
>
> Handle missing values. What is your suggestion? Removing all rows with NA or removing the column if it has NA? One is the correct answer.

In [20]:
obs_df = obs_df.dropna()

In [21]:
# Find the number of missing variables again
missing_rows = obs_df[obs_df.isnull().any(axis=1)]
print(missing_rows)

Empty DataFrame
Columns: [year, month, day, gender, age, height, weight, family_history_with_overweight, FAVC, FCVC, NCP, CAEC, SMOKE, CH2O, SCC, FAF, TUE, CALC, MTRANS, NObeyesdad, date]
Index: []

[0 rows x 21 columns]

Also, we want to find out if there's any duplicated values. Note that this data set does not have an id column. So, we need to be cautious and infer duplicates by including ALL the values (not just a few columns).

>__Task 8__
>
>Check if there is any duplicates in the data set. Do you need to remove duplicates?

In [22]:
print(obs_df.duplicated().sum())

0

## Data Analysis and Preprocessing

Let's explore the data more. Most of the columns in the data set describe the attributes of eating habits and physical conditions, i.e., __FAVC__, __FCVC__, __NCP__, __CAEC__, __SMOKE__, __CH2O__, __SCC__, __FAF__, __TUE__, __CALC__, __MTRANS__. We will dive into a few attributes.

>__Task 9__
>
>- Check the min, max, and average values of the __age__ column
>- Find out how many data points are in each gender group

In [26]:
# Check values
print(obs_df['age'].max())
print(obs_df['age'].min())
print(obs_df['age'].sum()/obs_df['age'].count())

61.0
14.0
24.312599908574136

In [27]:
# Count values
print(obs_df['gender'].value_counts())

gender
Male      1068
Female    1043
Name: count, dtype: int64

>__Task 10__
>
>- Find out what are the values and the corresponding counts in the __NObeyesdad__ column. Is it a ordinal or nominal variable?
>   - You can count the values in the column
>   - It seems like there is an order between different levels of obesity, ain't it?
>- Depending on which is the correct variable type (nominal or ordinal) convert the `NObesity_encoded` column to numeric using an encoder or map function.

In [28]:
# Count values
print(obs_df['NObeyesdad'].value_counts())

NObeyesdad
Obesity_Type_I         351
Obesity_Type_III       324
Obesity_Type_II        297
Overweight_Level_I     290
Overweight_Level_II    290
Normal_Weight          287
Insufficient_Weight    272
Name: count, dtype: int64

In [31]:
ordinal_mapping  = {
    'Obesity_Type_I':         4,
    'Obesity_Type_III':       6,
    'Obesity_Type_II' :       5,
    'Overweight_Level_I':     2,
    'Overweight_Level_II':    3,
    'Normal_Weight':          1,
    'Insufficient_Weight':    0
}

obs_df["NObeyesdad"] = obs_df["NObeyesdad"].map(ordinal_mapping)

print(obs_df['NObeyesdad'].unique())

[nan]

>__Task 11__
>
>- Check the values of __CAEC__ (consumption of food between meals) and __CALC__ (consumption of alcohol). Do they have same categorical values?
>- Convert each of the two variables to numeric: `CAEC_encoded` and `CALC_encoded`. Pay attention to the ordinal or nominal type.

In [44]:
# Check the values of CAEC
print(obs_df['CAEC'].value_counts())

Series([], Name: count, dtype: int64)

In [47]:
# Check the values of CALC 
print(obs_df['CALC'].value_counts())

Series([], Name: count, dtype: int64)

In [45]:
CAEC_encoded = {
    'no': 0,
    'Sometimes': 1,
    'Frequently': 2,
    'Always': 3
}

CALC_encoded = {
    'no': 0,
    'Sometimes': 1,
    'Frequently': 2,
    'Always': 3
}
obs_df["CAEC_encoded"] = obs_df["CAEC"].map(CAEC_encoded)
obs_df["CALC_encoded"] = obs_df["CALC"].map(CALC_encoded)

In [46]:
# Check whether the encoding works
print(obs_df['CAEC_encoded'].value_counts().sort_index())
print(obs_df['CALC_encoded'].value_counts().sort_index())

Series([], Name: count, dtype: int64)
Series([], Name: count, dtype: int64)

>__Task 12__
>
>- Check the values of transportation used (__MTRANS__ column). It is nominal variable.
>- Convert it to numeric using one-hot encoding and use the value as the new column names, e.g., `Automobile` and `Bike`. Hint: you can use either `get_dummies` from pandas or `OneHotEncoder` from sklearn. The latter will require some extra steps to merge back to the original dataset.

In [ ]:
# Check the values
print(obs_df['MTRANS'].value_counts().sort_index())

In [ ]:
...

There are several binary variables in the dataset: __family_history_with_overweight__, __FAVC__ (frequency of consumption of vegetables), __SMOKE__, __SCC__ (calories consumption monitoring). Let's transform these variables.

>__Task 13__
>
>- Check the values of __family_history_with_overweight__, __FAVC__, __SMOKE__, __SCC__ 
>- Convert them to numeric with 1 for `yes` and 0 for `no`. The new columns are names with suffix `_encoded`, e.g., `family_history_with_overweight_encoded`.

In [ ]:
# Check the values
...

In [ ]:
# Convert to numeric
binary_encoding_map = {'yes':1, 'no':0}
...

You can run the following `for` loop to check the results:

>__Task 14__
>
>Retrieve rows where values are outliers in the __weight__ column
>
>- Calculate mean, 3 std above the mean and 3 std below the mean 
>- Create a filter (a boolean vector) that returns true if values are less than `mean-3*sd` or greater than `mean+3*sd`
>- Use this filter to retrieve the outliers

In [ ]:
# Find the upper bound, mean, and lower bound
weight = ...
mean   = ...
sd     = ...

print(..., ..., ...)

In [ ]:
# Create a filter and retrieve the outliers
...

You can use the same method to find out outliers in the other columns. But there's a easier way to find out all in once using the `for` loop:

>__Task 15__
>
>Split the data set into 80% train set and 20% test set
>
>- The target variable is __NObesity_encoded__
>- The feature columns are __age__, __height__, __weight__, __FCVC__, __NCP__, __CH2O__, __CAEC_encoded__, __CALC_encoded__, __Automobile__, __Bike__, __Motorbike__, __Public_Transportation__, __Walking__, __family_history_with_overweight_encoded__, __FAVC_encoded__, __SMOKE_encoded__, __SCC_encoded__
>
>Remember our target variable has multiple categories? Do you need to consider stratified splitting?

In [ ]:
from sklearn.model_selection import train_test_split
target_var = 'NObesity_encoded'
feature_var = ['age', 'height', 'weight', 'FCVC', 'NCP', 'CH2O', 'CAEC_encoded', 'CALC_encoded',
               'Automobile', 'Bike', 'Motorbike', 'Public_Transportation', 'Walking',
               'family_history_with_overweight_encoded', 'FAVC_encoded', 'SMOKE_encoded', 'SCC_encoded'] 
X_train, X_test, y_train, y_test = ...

In [ ]:
# Check the target var distribution in train set vs test set
print(y_train.value_counts(), y_test.value_counts())

>__Task 16__
>
>- Apply `MinMaxScaler` to scale columns __age__, __height__, __weight__, __FCVC__, __NCP__, __CH2O__ between 0 and 1. Do you need to scale the encoded categorical variables?
>- Implement the scaler to both train and test sets from the above task. Hint: you can assign the scaled value to `X_train[cols]` and `X_test[cols]`.

In [ ]:
X_train.head()

In [ ]:
# Note that the scaler will need to fit to train set
from sklearn.preprocessing import MinMaxScaler
...
scale_cols = ['age', 'height', 'weight', 'FCVC', 'NCP', 'CH2O']
...

# Transform both train and test sets
X_train[scale_cols] = ...
X_test[scale_cols]  = ...

# Regression

In [ ]:
from ISLP import load_data
from ISLP.models import (ModelSpec as MS,summarize , poly)

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
## Load Boston Data
boston = load_data("Boston") 
boston.columns

According to the [Kaggle page](https://www.kaggle.com/datasets/avish5787/boston-data-set), below you can find the details:

- CRIM - per capita crime rate by town
- ZN - proportion of residential land zoned for lots over 25,000 sq.ft.
- INDUS - proportion of non-retail business acres per town.
- CHAS - Charles River dummy variable (1 if tract bounds river; 0 otherwise)
- NOX - nitric oxides concentration (parts per 10 million)
- RM - average number of rooms per dwelling
- AGE - proportion of owner-occupied units built prior to 1940
- DIS - weighted distances to five Boston employment centres
- RAD - index of accessibility to radial highways
- TAX - full-value property-tax rate per \$10,000
- PTRATIO - pupil-teacher ratio by town
- B - 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
- LSTAT - \% lower status of the population
- MEDV - Median value of owner-occupied homes in \$1000's

>__Task 17__
>
> Give a first look at your data. Print how many row/columns in the data, print the first 5 rows and use .info to learn more about it.

In [ ]:
# row/column counts
...

In [ ]:
# first 5 row
...

In [ ]:
# info
...

>__Task 18__
>
> Using seaborn package, plot the scatterplot of the data. On map `lstat` on x axis and `medv` on y axis. Use `hue` option to map `indus` to colour and `style` option to map `chas` to style

In [ ]:
...

It looks there is negative correlation between the median value of houses \% of lower status of the population. Also as colours suggest, as the proportion of industrial residences increase price reduces.

>__Task 19__
>
> - Apply train test split to the data. Use 'medv' as output (y) values and everything else as input variables.
> - The test size must be 20% of the data.
> - Set randomm state to 156.

In [ ]:
from sklearn.model_selection import train_test_split

y = ...
X = boston.drop(['medv'], axis=1)

X_train, X_test, y_train, y_test = ...

### Fit Linear Model

Below code fits a simple linear regression to model the relationship between `lstat` and `medv` and plots the model.
- First we initiate the model
- Then fit the model on train set
- And finally calculate the test set (MAE and MSE) performance

In [ ]:
from sklearn.linear_model import LinearRegression
# Initiate the model
lm = LinearRegression()

# Fit 
lm = lm.fit(X_train[['lstat']], y_train)

The estimated coefficients are

In [ ]:
print(lm.intercept_)
print(lm.coef_)

Now, lets plot the model

In [ ]:
# Plot the scatterplot
sns.scatterplot(data=boston, x="lstat", y="medv")

# Add predictions
preds = lm.predict(X[['lstat']])

plt.plot(X[['lstat']],preds,c='black')

In [ ]:
from sklearn import metrics 

# Calculate the predictions on test set
preds = lm.predict(X_test[['lstat']])

print('MAE (test): ',metrics.mean_absolute_error(y_test,preds))
print('MSE (test): ',metrics.mean_squared_error(y_test,preds))

>__Task 20__
>
> - Fit a multi-linear regression. Use `['lstat','rm', 'nox']` as independent (input) variables and `medv` as dependent (output)
> - Fit the model on train set
> - Print the model coefficients
> - Calculate the predictions on test set
> - Print the test set MAE and MSE.
> - Does the mean absolute and mean squarred errors reduce?

In [ ]:
# Initiate and fit a Linear Regression model
...

# Predict on test set
...

# Calculate performance
...

### Polynomial regression

Polynomian regressions are nonlinear models that are trained using the same way that linear models are trained. Only difference is, instead of just inputting the features (independent variables) themselves, we also calculate their powers (square, cube, 4th degree etc) and input the model.

Let's train a 4th-degree polynomial regression using only `lstat` as input.

In [ ]:
from sklearn.preprocessing import PolynomialFeatures

poly    = PolynomialFeatures (degree=4, include_bias=False)
x_trn   = poly.fit_transform(X_train['lstat'].to_numpy().reshape(-1,1))

lm = LinearRegression()
lm = lm.fit(x_trn, y_train)

x     = poly.transform(X['lstat'].to_numpy().reshape(-1,1))
preds = lm.predict(x)

# Plot the scatterplot
sns.scatterplot(data=boston, x="lstat", y="medv")

# Add predictions
plt.scatter(X[['lstat']],preds,c='black')

As seen above the predictions are not linear but can be 4th degree polynomial function

### Overfitting

>__Task 21__
>
> - Complete the below code that fits polynomial regression with degree = 1,2,...,12 iteratively on train set and calculate the test set performance. Remember that in Python range(a,b) generates the series [a,a+1,...,b-1].
> - The test MSE calculations are collected in a list, `MSEs`
> - Plot the MSE against the degree of the polynomial regression.
> - Which polynomial degree minimizes the test loss?

In [ ]:
from sklearn.preprocessing import PolynomialFeatures

MSEs = []
# Fit model and collect performance iteratively
for i in range(1,...):
    # Fit a Linear Regression model
    poly    = ...
    ...
    
    ...
    
    # Predict on test set
    ...
    ...
    
    # Calculate performance
    mse = metrics.mean_squared_error(y_test,preds)
    MSEs.append(mse)
    print('MSE (test): ', mse)

Plot the MSE against the degree of the polynomial regression

In [ ]:
plt.plot(...,...)